*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

header, main, #container-btn{
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    font-family: "Baloo 2", sans-serif;
    text-transform: capitalize;
}

header{
    height:fit-content;
    width: 80vw;
}

#btn-jugar{
    background: #FEA314;
    width: 50vw;
    height: fit-content;
    padding: 5px;
}

